extends layout

block content
  h1= title
  - let Elections=results
  //- button.btn( class="btn-primary ml-1", onclick= destinationcreate) Create
  div(class="container-fluid")
  div(class="row m-1")
    each election in Elections
      div(class="col-ml-1 btn btn-light") #{election.year} - #{election.location} - #{election.candidate}
    